@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.loadscreen
{
    background: #fff;
    display: flex;
    flex-direction: column;
    
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: 100%;
    overflow: hidden;
    color: #31C068;
}
.load-icon
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.load-icon img
{
    height: 100px;
    width: 100px;
}
.load-txt
{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.load-txt p
{
    margin-bottom: -13px;
}
.load-txt h2
{
    text-transform: uppercase;
}
.desktop
{
    height: 90vh;
    display: grid;
    place-items: center;
    width: 100%;
}
.navbar
{
    display: none;
}
.container ,.inchat
{
    display: none;
}
.cmngsoon
{
    background: #d62424;
    height: 50px;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translate(-50%,-50%);
    z-index: 500;
    border-radius: 10px;
    color: #fff;
}
.cmngsoon p
{
    font-weight: 700;
    font-size: 24px;
}

@media screen and (max-width:760px)
{
    *
    {
        overflow-x: hidden; 
    }
    .navbar
{
    display: block;
}
.inchat
{
    display: none;
    background: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url(images/bag1.webp) no-repeat;
    background-size:cover;
    z-index: 200;
}
.chatnav
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 5px;
    background: #075E54;
    color: #fff;
    justify-content: space-between;
}
.chatnav .left
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.active::before
{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(255, 255, 255);
    height: 3px;
    width: 100%;
    
}
ul.dotmenu
{
    position: absolute;
    top: -10px;
    right: 5px;
    text-align: center;
    background: rgb(46, 45, 45);
    padding: 5px;
    opacity: 0;
    height: 0px;
    width: 0px;
    transition: all .3s ease-in-out;
    z-index: 1000;
    overflow: hidden;
    /* display: block; */
}
.dotmenu li
{
    padding: 10px;
}
.dotmenu li a
{
    color: #fff;
    text-decoration: none;
}
.txtmsgs
{
    color: #fff;
    margin: 65px 0 ;
}
.chatnav .left img
{
border-radius: 50%;
height: 40px;
width: 40px;
margin-right: 15px;
}
.chatnav .left h2
{
    font-size: 20px;
    transform: translateX(-20px);
}
.chatnav .right
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
}
.chat-section
{
    /* background: orangered; */
    position: fixed;
    bottom: 0;
    overflow: hidden;
    left: 0;
    right: 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-box
{
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 10px;
    height: 70px;
    width: 87%;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0px 1px 2px 0px black;
}
.chat-section i
{
    margin: 0 5px;
    padding: 0 5px;
    font-size: 20px;
    cursor: pointer;
}
.chat-box input
{
    padding: 10px 0;
    border: none;
    outline: none;
    font-size: 20px;
    background: transparent;
}
.voice-btn
{
    box-shadow: 0px 1px 2px 0px black;
    height: 70px;
    padding: 5px;
    width: 70px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

    .desktop
    {
        display: none;
    }
    body
    {
        overflow-x: hidden;
        
    }
    /* .hide
    {
        display: none;
    } */
    .navbar
    {
        
        position: relative;
    }
    .navbar nav
    {
        width: 100vw;
        background-color:#075E54;
        color: white;
        height: auto;
        font-family: 'Work Sans', sans-serif;
        height:20vh;
        z-index: 10;
        position: fixed;
        top: 0;
    }
    .navbar h2
    {
        position: relative;
        margin: 15px ;
        font-size: 20px;
    }
    .navbar .menu ul
    {
        display: flex;
        justify-content: space-between;
        margin: 0 0 0 0;
    }
    .navbar .menu
    {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        
    }
    
    .navbar .menu li:active
    {
     opacity: 100%;
    }
    
    .navbar .menu li
    {
        position: relative;
        display: block;
        list-style: none;
        margin-right: 15px;
        padding: 20px 0;
    }
    .navbar .menu li a 
    {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    opacity: 80%;
    
    }
    .navbar .menu li:nth-child(1)
    {
    margin-left:-20px ;
    
    }
    .navbar .sbar
    {
        margin: 10px;
        float: right;
        margin-top: 15px;
    }
    .navbar .sbar li
    {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    float: left;
    }
    .navbar .sbar li i
    {
        font-size: 20px;
        position: relative;

    }
    .container
    {
        display:flex;
        width: 300%;
        height: auto;
        margin-top: 20vh;
        font-family: 'PT Sans', sans-serif;
    }
    .chat
    { 
        
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .chat .profile 
    {
        display: flex;
        position: relative;
        padding: 5px;
        margin: 15px 0;
        cursor: pointer;
    }
    .chat .profile::after
    {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: .5px;
        width: 80%;
        background: rgb(163, 162, 162);

    }
    .profile img
    {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        margin: 0 10px 0 0;
    }
    .chat-details
    {
        width: 100%;
        margin: -10px 0 0 3px;
        position: relative;
    }
    .chat-details h2
    {
        font-size: 20px;
        margin: 10px 6px 0 6px;
    }
    .chat-details p
    {
        margin: 8px;
    }
    .chat-details time
    {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .status
    {
        width: 100%;
        height: auto;
       
    }
    .calls
    {
        width: 100%;
        height: auto;
       
    }
    .addstatus
    {
        display: flex;
        position: relative;
        padding: 20px 10px;
    }
    .addstatus::after
    {
        position: absolute;
        content: 'Recent Updates';
        bottom: 0;
        left: 5px;
        color: rgb(119, 115, 115);
        font-weight: 700;
    }
    .addstatus img
    {
        height: 50px;
        width: 50px;
        margin:0 15px 0 0  ;
        border-radius: 50%;
        border: 5px solid rgb(168, 168, 168);
    }
    .stus time 
    {
    top: 10px;
    font-size: 30px;
    }
}
@media screen and (max-width:670px)
{

.profile img
    {
       
        height: 50px;
        width: 50px;
       
    }
    
}
@media screen and (max-width:570px)
{
    .chat-box
    {
        height: 40px;
        width: 90%;
    }
.voice-btn
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.chat-section i
{
    margin: 0 5px;
    padding: 0 5px;
    font-size: 17px;
    cursor: pointer;
}
.chat-box input
{
    padding: 10px 0;
    border: none;
    outline: none;
    font-size: 18px;
    background: transparent;
}
    
}
    
    
    
   